@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
    font-family: "Josefin Sans", sans-serif;
    background-image: linear-gradient(to right,#FFF1F1, #FFFFFF);
 }

 .container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
 }

.hero {
    height: 800px
}
 .hero-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 150px 220px 0px
 }

.hero-text .logo{
    padding-top: 75px;
    padding-bottom: 130px;
}

 .hero-img {
    width: 50%;
 }

 .hero-img img {
    max-width: 610px;
    max-height: 800px;
    object-fit: cover;
 }

 .hero-text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 71px;
    letter-spacing: 17.32px;
    text-transform: uppercase;
 }

 .hero-text .title-span {
    color: #CE9898;
    font-weight: 300;
 }

.hero-text p {
    color: #CE9898;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 32px;
    margin-bottom: 40px;
}

form {
    display: flex;
    position: relative;
}

form input[type='email'] {
    padding: 14px 32px;
    border-radius: 30px;
    border: 1px solid #CE9898;
    background-color: transparent;
    height: 56px;
    max-width: 330px;
    width: 100%;
    outline: none;
}

form input[type='email']:focus {
    background-color: transparent;
    border: 1px solid #CE9898;
}

form input[type='email']:focus-visible {
    background-color: transparent;
    border: 1px solid #CE9898;
}

form input[type='email']:active {
    background-color: transparent;
    border: 1px solid #CE9898;
}

form ::placeholder {
    color: #CE9898;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}


form button {
    padding: 12px 46px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#F8BFBF, #EE8B8B);
    border: none;
    margin-bottom: px;
    margin-left: -65px;
    height: 56px;
}


p.validation-message {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) inset;
}
